/* Hanif - LITERASI 2 */
.img-ananta {
position: absolute;
width: 100px;
height: 100px;
border-radius: 9999px;
}

.img-ali {

position: absolute;
width: 100px;
height: 100px;
border-radius: 9999px;

}

.img-anip {

position: absolute;
width: 100px;
height: 100px;
border-radius: 999999px;

}
