 body {
  font-family: 'Roboto', sans-serif;
 }

.border {
  border-radius: 100%;
  height: 200px;
  width: 200px;

}

.literasi {
  color: #6EA8C9
}
/* textarea */

.box {
  background: #6EA8C9 !important;
  color: white !important;
  border-radius: 10px !important;
}

.box::placeholder {
color: white !important;
}

.box:-moz-input-placeholder {
color: white !important;
}

.box:-ms-input-placeholder {
  color: white !important;
}
.box::-webkit-input-placeholder{
  color: white !important;
}

.header {
  cursor: default;
}


.nama {
  padding-left: 12px;
  cursor: default;
}

.lainnya {
  list-style:none ;
  padding: 0px !important;
}

.uk-border-circle {
  margin-left: 18px;
}

.button {
  font-size: 16px;
  padding: 8px;
  background: none;
  border: none;
}

.button:hover{
  color: grey;
}
.judul {
  margin-bottom: 0px;
  margin-top: 10px;
}

.penulis{
  margin: 2px;
}


/*contoh3*/
/*support google chrome*/
.contoh3{
	margin: 10px;
	font-size: 13pt;
	padding: 10px;	
	background: transparent;
	color: #fff;
	font-family: roboto;
	border: none;
}

.carousel-book {
    margin-top: 20px;
    background-color: white;
}

.bold-text {
    font-weight: bold;
}

.header-book {
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 0px;
    margin: 0px;
}

.card-rousel {
    /* background-color: red; */
    padding: 0px;
    margin: 10px;
}

.book {
    text-align: center;
    margin: 10px;
    cursor: default;
}

.book p {
    margin-top: 5px;
    margin-bottom: unset;
}

.author {
    font-size: 12px;
}



