body{
  cursor: default;
}

.uk-navbar-container{
  background: #6EA8C9 !important
}

.border {
  border-style: solid;
  padding: 5px;
  margin-bottom: 50px;
}


.icon{
 text-align: center;
 margin-top: 15px;
 color: #fff;
}

.tombol:hover{
  color: red;
}

.ini-tombol-loh{
  line-height: 1.6;
}

html {
  background: var(--backg);
  --btn: #2ab1ce;
  --backg: #fff;
  --color: #000;
}

html[data-theme='dartheme'] {
  background: var(--backg);
  --btn: #ea4b3c;
  --backg: #232323;
  color: #fff !important;
}

#Read-title[data-theme='dartheme'] {
  color: #fff !important;
}

input[type=checkbox] {
  visibility: hidden;
  height: 0;
  width: 0;
  
}

label {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--btn);
}

label:after {
  border-radius: 50%;
  position: absolute;
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 4px;
  transition: ease-in-out 200ms;
}

input:checked + label {
  background: gray;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: ease-in-out 200ms !important;
  transition-delay: 0 !important;
}
.mode {
  color: black;
}